* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;

}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar ul li{
     list-style: none;
     display: inline-block;
     margin: 0 20px;
     position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:honeydew
}
.content h1{
    font-size: 78px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: white;

}
span{
    background: #009688;
    color: white;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 450%;
  
}
button:hover{
    border: none; 
    color: black;

}
.Editor{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(50, 141, 184);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.main{
    height:500px ;
    width: 100vw;
    background: black;
    display: flex;
}
.card{
margin-left: 800px;
    width: 300px;
height: 100px;
    position: absolute;
}
.card video{
   margin-top: 200px;
   margin-left: 75px;
padding-bottom: 130px;
position: relative;
}
.content1{
margin-left: 200px;
padding-top: 100px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.content1 h2{
    align-items: center;
     font-size: 6rem;
     background-image: linear-gradient(to right top, #3745cf, #314cd6, #2a52dd, #2159e4, #125feb);
   -webkit-text-fill-color: transparent;
   background-clip: text;
}
.content1 h3{

   font-size: 2rem;
   text-align: center;
}
/* .gap{
       width: 100vw;
       height: 8px;
       opacity: 70%;
       background-color: black;
        background-image: linear-gradient(0deg, rgb(70, 67, 67), rgb(0, 0, 0));

      

} */
.video-container {
    left: 0%;
    z-index: 999;
    margin-top: auto;
    
    height: 100vh;
    object-fit: cover;
}
.row{font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background: black;
display: flex;
flex-direction: column;
padding: 20px;

}
.row h2{
  margin-bottom: -2px;
    margin-left:10px;
}
.rowposter{
    display: flex;
    
   overflow-y: hidden;
   overflow-x: scroll;
   padding: 15px;
}
.row1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.rowposter::-webkit-scrollbar
{
   display: none;
}

.poster{

    object-fit: contain;
    max-height: 200px;
    margin-right: 10px;
    padding: 4px;
   
}
.poster:hover{
   transform: scale(1.08);
}
.row1{font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background: black;
display: flex;
flex-direction: column;
padding: 20px;

}
.row1 h2{
    margin-bottom: 5px;
      margin-left:10px;
  }
  .poster1{

    object-fit: contain;
    max-height: 200px;
    margin-right: 10px;
    padding: 4px;
   
}
.poster1:hover{
    transform: scale(1.08);
 }

 
